In [1]:
import pandas as pd
import numpy as np

### 인구수 데이터 정리

In [71]:
pop = pd.read_excel('../data/인구.xlsx', header = None)
pop.head()

,0,1,2,3,4,5,6,7,8,9,10
0,합 계,1054323,535653,518670,1040118,527035,513083,437060,14205,8618,5587
1,의창구,266687,135955,130732,263184,133960,129224,110411,3503,1995,1508
2,동읍,20539,10468,10071,20355,10366,9989,8881,184,102,82
3,북면,42983,21730,21253,42720,21598,21122,16126,263,132,131
4,대산면,7675,4007,3668,7336,3725,3611,3688,339,282,57

In [72]:
pop = pop.iloc[:, :2]
pop.head()

                0        1
0            합  계  1054323
1             의창구   266687
2  동읍                20539
3  북면                42983
4   대산면               7675

In [73]:
pop.columns = ['읍면동', '총 인구수']
pop.head()

              읍면동    총 인구수
0            합  계  1054323
1             의창구   266687
2  동읍                20539
3  북면                42983
4   대산면               7675

In [74]:
final_name = []
final_pop = []

for i in range(len(pop['읍면동'])) :
    tmp_name = pop['읍면동'][i].replace(' ', '')
    tmp_pop = pop['총 인구수'][i]    
    
    if tmp_name[-1] == '읍' :
        final_name.append(tmp_name)
        final_pop.append(tmp_pop)
    if tmp_name[-1] == '면' :
        final_name.append(tmp_name)
        final_pop.append(tmp_pop)
    if tmp_name[-1] == '동' :
        final_name.append(tmp_name)
        final_pop.append(tmp_pop)

In [75]:
population = pd.DataFrame(final_name, columns = ['읍면동'])
population['총인구수'] = final_pop
population.head()

   읍면동   총인구수
0   동읍  20539
1   북면  42983
2  대산면   7675
3  의창동  51204
4  팔룡동  38443

In [76]:
population.index = population['읍면동']
population.drop(['읍면동'], axis = 1, inplace = True)
population.head()

      총인구수
읍면동
동읍   20539
북면   42983
대산면   7675
의창동  51204
팔룡동  38443

### 공장데이터

In [11]:
fac = pd.read_csv('../data/공장.csv', encoding = 'cp949')
fac

,업체명,전화번호,팩스번호,주소,업종명,생산품,데이터제공일자
0,(사)한국장애인사회복지회사회복지부,055-547-1438,NaN,경상남도 창원시 진해구 웅천동로 204 (성내동),구조용 금속 판제품 및 공작물 제조업 외 1 종,"울타리,난간",2019-01-31
1,(유)경남라이팅,055-287-6661,055-263-6665,"경상남도 창원시 성산구 완암로 50, 테크동 4층 410호 (성산동, SK테크노파크)",배전반 및 전기 자동제어반 제조업 외 12 종,"분전반, 태양광구조물,가로등",2019-01-31
2,(유)국제보링1급정비,055-232-4442,055-232-3663,경상남도 창원시 마산회원구 내서읍 중리공단로 149 (현대자동차서비스),자동차 구조 및 장치 변경업 외 1 종,자동차정비,2019-01-31
3,(유)두루산업사,055-251-3040,055-251-4619,"경상남도 창원시 마산회원구 봉암공단9길 10 (봉암동, (유)두루산업사)",그 외 기타 전자부품 제조업 외 1 종,산업용가습기,2019-01-31
4,(유)리앤리테크,055-603-3106,055-603-3114,경상남도 창원시 성산구 반월로 16 (신촌동),그 외 자동차용 신품 부품 제조업 외 3 종,자동차부품,2019-01-31
...,...,...,...,...,...,...,...
4729,흥진항공산업,055-255-9827,055-255-9828,"경상남도 창원시 의창구 사화로 222-20 (팔용동, 흥진기계)",육상 금속 골조 구조재 제조업 외 3 종,항공기기체부품 등,2019-01-31
4730,희성테크,055-286-8450,055-286-8453,"경상남도 창원시 성산구 월림로67번길 5 (신촌동, 신촌동공장)",경 인쇄업 외 1 종,라벨류,2019-01-31
4731,희창정밀,NaN,055-261-5298,경상남도 창원시 성산구 월림로25번길 9 (신촌동),절삭가공 및 유사처리업,기계부품,2019-01-31
4732,히팅플러스,NaN,NaN,"경상남도 창원시 성산구 완암로 50, 넥스동 7층 705 (성산동, SK테크노파크)",그 외 기타 금속가공업,금속 구조물,2019-01-31
4733,힘멜테크,055-276-5764,055-901-0260,"경상남도 창원시 성산구 완암로 50, 테크동 9층 913 (성산동, SK테크노파크)",기타 인쇄업 외 1 종,인쇄물,2019-01-31

In [12]:
import googlemaps
from tqdm import tqdm_notebook

In [13]:
gmaps_key = 'AIzaSyAAdqWF_Ykxo8Fcn7FJmrSLfG3LJojryhQ'
gmaps = googlemaps.Client(key = gmaps_key)

In [14]:
fac_address = fac['주소']

In [15]:
fac_dong = []

for i in tqdm_notebook(range(len(fac_address))) :
    tmp = gmaps.geocode(fac_address[i], language = 'ko')
    try :
        tmp_tmp = tmp[0].get('formatted_address').split(' ')
        
        for j in range(len(tmp_tmp)) :
            if tmp_tmp[j][-1] == '면' :
                fac_dong.append(tmp_tmp[j])
                break
            if tmp_tmp[j][-1] == '읍' :
                fac_dong.append(tmp_tmp[j])
                break
            if tmp_tmp[j][-1] == '동' :
                fac_dong.append(tmp_tmp[j])
                break
                
    except :
        print(fac_address[i])

HBox(children=(IntProgress(value=0, max=4734), HTML(value='')))

경상남도 창원시 의창구 죽전로 37 (팔용동, (주)서진테크)
경상남도 창원시 의창구 대산면 주남로 521, 에이동

In [79]:
factory = pd.DataFrame(fac_dong, columns = ['읍면동'])
factory['공장수'] = 1

In [80]:
factory = pd.pivot_table(factory, index = ['읍면동'], aggfunc = 'sum')
factory.head()

      공장수
읍면동
가음정동    3
가주동     1
가포동    16
경화동     9
교방동     2

### 공영주차장

In [31]:
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [32]:
url = 'https://www.changwon.go.kr/depart/contents.do?mId=0707020100'

page = urlopen(url)
soup = BeautifulSoup(page, 'html.parser')

In [33]:
table = soup.select('div.conts')[0].find_all('div')

* 우리가 필요한 table은 1~5번째 테이블(각 구별 공영주차장 수)

In [34]:
parking_lot = []

for i in range(1,6) :
    tmp = table[i].find_all('td')
    
    for j in range(len(tmp)) :
        if tmp[j].string != None :
            tmp_tmp = tmp[j].string
        
            if tmp_tmp[-1] == '읍' :
                parking_lot.append(tmp_tmp)
            if tmp_tmp[-1] == '면' :
                parking_lot.append(tmp_tmp)
            if tmp_tmp[-1] == '동' : 
                parking_lot.append(tmp_tmp)

In [35]:
len(parking_lot)

58

In [81]:
parking = pd.DataFrame(parking_lot, columns = ['읍면동'])
parking['공영주차장'] = 1

In [82]:
parking = pd.pivot_table(parking, index = ['읍면동'], aggfunc = 'sum')
parking.head()

     공영주차장
읍면동
내동       2
내서읍      2
대방동      1
도계동      1
명서동      1

### 관람시설수

In [39]:
seeing = pd.read_csv('../data/관람시설현황(2014)..csv', encoding = 'cp949')
seeing

,시설명,주소,전화,홈페이지
0,경남도립미술관,경남 창원시 의창구 사림동 중앙대로 300\n,055-211-0333,www.gam.go.kr\n
1,대산미술관,경남 창원시 의창구 대산면 유등리 294번지\n,055-291-5237,www.daesanart.com
2,문신미술관,경남 창원시 마산합포구 추산동 51-1 문신길 105-1,055-247-2100,moonshin.changwon.go.kr\n
3,삼진미술관,경남 창원시 마산합포구 진북면 추곡1길 13\n,055-272-0335,www.samjinmuseum.com\n
4,마산아트센터,경남 창원시 마산합포구 진전면 양촌리 390\n,"055-271-5150,5",www.mac2004.or.kr/\n
5,창원시립마산문학관,경남 창원시 마산합포구 상남동 58-8 (노산북 8길 49-1)\n,055-225-7193,pen.changwon.go.kr\n
6,김달진문학관,경남 창원시 진해구 소사동 43번지\n,055-547-2623,www.daljin.or.kr/
7,이원수문학관,경남 창원시 의창구 평산로 135번지32 고향의봄 도서관 지하1층\n,055-294-7285,leewonsu.co.kr\n
8,경남문학관,경남 창원시 진해구 진해대로 311(태백동),"055-547-8277,8279",munhac.cafe24.com\n
9,창원시립마산음악관,경남 창원시 마산합포구 수산2길 172,055-225-4062,music.changwon.go.kr
10,창원시마산박물관,경남 창원시 마산합포구 문신길 105,055-221-5050,museum.changwon.go.kr
11,해군사관학교박물관,경남 창원시 진해구 앵곡동 사서함 2-6 해군사관학교 박물관,055-549-1182,museum.navy.ac.kr
12,창원대학교박물관,경남 창원시 의창구 사림동 9번지,055-213-2431~4,kor.changwon.ac.kr/html/04_graduate/graduate_0...
13,창원역사민속관,경남 창원시 의창구 창이대로343번길 74,055-225-3721,history.changwon.go.kr\n
14,웅천도요지전시관,경남 창원시 진해구 두동로 236 (두동),055-225-6852~9,ucdoyoji.changwon.go.kr

* 주소로 구글맵을 하였을 경우 편입된 동이 많이 나와서 시설명으로 다시 구글맵을 해주었다.

In [40]:
import googlemaps
from tqdm import tqdm_notebook

In [49]:
gmaps_key = 'AIzaSyAAdqWF_Ykxo8Fcn7FJmrSLfG3LJojryhQ'
gmaps = googlemaps.Client(key = gmaps_key)

In [57]:
see_address = seeing['시설명']

In [58]:
see_dong = []

for i in range(len(see_address)) :
    tmp = gmaps.geocode(see_address[i], language = 'ko')
    
    try :
        tmp_tmp = tmp[0].get('formatted_address').split(' ')
        
        for j in range(len(tmp_tmp)) :
            if tmp_tmp[j][-1] == '면' :
                see_dong.append(tmp_tmp[j])
                break
            if tmp_tmp[j][-1] == '읍' :
                see_dong.append(tmp_tmp[j])
                break
            if tmp_tmp[j][-1] == '동' :
                see_dong.append(tmp_tmp[j])
                break
                
    except :
        print(see_address[i])

In [87]:
seeing = pd.DataFrame(see_dong, columns = ['읍면동'])
seeing['관람시설수'] = 1
seeing.loc[seeing['읍면동'] == '두동', '읍면동'] = '웅동1동'

In [88]:
seeing = pd.pivot_table(seeing, index = ['읍면동'], aggfunc = 'sum')
seeing.head()

     관람시설수
읍면동
대산면      1
봉림동      1
사림동      1
서상동      1
성호동      3

### 데이터 취합

* 인구수 : population
* 공장 : factory
* 관람시설수 : seeing
* 공영주차장 : parking

In [89]:
final = pd.concat([population, factory, seeing, parking], axis = 1,
                  join_axes = [population.index])

C:\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.

In [90]:
final

        총인구수    공장수  관람시설수  공영주차장
읍면동
동읍     20539   83.0    NaN    NaN
북면     42983  150.0    NaN    NaN
대산면     7675  216.0    1.0    NaN
의창동    51204    4.0    NaN    1.0
팔룡동    38443    1.0    NaN    NaN
명곡동    43898    NaN    NaN    NaN
봉림동    31211    8.0    1.0    NaN
용지동    30734    NaN    NaN    1.0
반송동    42651    1.0    NaN    NaN
중앙동    24115   35.0    NaN    4.0
상남동    28751    1.0    NaN    7.0
사파동    46551    1.0    NaN    NaN
가음정동   42026    3.0    NaN    NaN
성주동    27308  112.0    NaN    1.0
웅남동     9016  364.0    NaN    NaN
구산면     4582   13.0    NaN    NaN
진동면    12680   41.0    NaN    NaN
진북면     4025  239.0    1.0    NaN
진전면     4119   41.0    NaN    NaN
현동     14632    1.0    NaN    NaN
가포동      681   16.0    NaN    NaN
월영동    32968    1.0    1.0    NaN
문화동    11700    2.0    NaN    NaN
반월중앙동  15377    NaN    NaN    NaN
완월동     9602    NaN    NaN    NaN
자산동    11260    1.0    NaN    1.0
교방동    14660    2.0    NaN    NaN
오동동    20367   10.0    NaN    2.0
합포동     7159    NaN    NaN    1.0
산호동    13139   22.0    NaN    1.0
내서읍    66384  285.0    NaN    2.0
회원1동   10986    1.0    NaN    NaN
회원2동    7647    NaN    NaN    NaN
석전동    17391    2.0    NaN    3.0
회성동     6551    6.0    NaN    1.0
양덕1동   11629    9.0    NaN    NaN
양덕2동   32449   67.0    1.0    NaN
합성1동    9675    1.0    NaN    NaN
합성2동    8161    1.0    NaN    NaN
구암1동    9456    NaN    NaN    NaN
구암2동   10017    1.0    NaN    NaN
봉암동     4058  472.0    NaN    NaN
충무동    17711    1.0    NaN    2.0
여좌동     9052    2.0    NaN    1.0
태백동     5264    NaN    1.0    NaN
경화동    11537    9.0    NaN    NaN
병암동     7620    1.0    NaN    NaN
석동     17538    4.0    NaN    2.0
이동      8723    8.0    NaN    NaN
자은동    21750    3.0    NaN    NaN
덕산동    10320    1.0    NaN    NaN
풍호동    26358    8.0    NaN    NaN
웅천동    12784   16.0    NaN    1.0
웅동1동    7236  142.0    1.0    NaN
웅동2동   39970   14.0    NaN    NaN

In [91]:
final = final.fillna(0)

In [92]:
final

        총인구수    공장수  관람시설수  공영주차장
읍면동
동읍     20539   83.0    0.0    0.0
북면     42983  150.0    0.0    0.0
대산면     7675  216.0    1.0    0.0
의창동    51204    4.0    0.0    1.0
팔룡동    38443    1.0    0.0    0.0
명곡동    43898    0.0    0.0    0.0
봉림동    31211    8.0    1.0    0.0
용지동    30734    0.0    0.0    1.0
반송동    42651    1.0    0.0    0.0
중앙동    24115   35.0    0.0    4.0
상남동    28751    1.0    0.0    7.0
사파동    46551    1.0    0.0    0.0
가음정동   42026    3.0    0.0    0.0
성주동    27308  112.0    0.0    1.0
웅남동     9016  364.0    0.0    0.0
구산면     4582   13.0    0.0    0.0
진동면    12680   41.0    0.0    0.0
진북면     4025  239.0    1.0    0.0
진전면     4119   41.0    0.0    0.0
현동     14632    1.0    0.0    0.0
가포동      681   16.0    0.0    0.0
월영동    32968    1.0    1.0    0.0
문화동    11700    2.0    0.0    0.0
반월중앙동  15377    0.0    0.0    0.0
완월동     9602    0.0    0.0    0.0
자산동    11260    1.0    0.0    1.0
교방동    14660    2.0    0.0    0.0
오동동    20367   10.0    0.0    2.0
합포동     7159    0.0    0.0    1.0
산호동    13139   22.0    0.0    1.0
내서읍    66384  285.0    0.0    2.0
회원1동   10986    1.0    0.0    0.0
회원2동    7647    0.0    0.0    0.0
석전동    17391    2.0    0.0    3.0
회성동     6551    6.0    0.0    1.0
양덕1동   11629    9.0    0.0    0.0
양덕2동   32449   67.0    1.0    0.0
합성1동    9675    1.0    0.0    0.0
합성2동    8161    1.0    0.0    0.0
구암1동    9456    0.0    0.0    0.0
구암2동   10017    1.0    0.0    0.0
봉암동     4058  472.0    0.0    0.0
충무동    17711    1.0    0.0    2.0
여좌동     9052    2.0    0.0    1.0
태백동     5264    0.0    1.0    0.0
경화동    11537    9.0    0.0    0.0
병암동     7620    1.0    0.0    0.0
석동     17538    4.0    0.0    2.0
이동      8723    8.0    0.0    0.0
자은동    21750    3.0    0.0    0.0
덕산동    10320    1.0    0.0    0.0
풍호동    26358    8.0    0.0    0.0
웅천동    12784   16.0    0.0    1.0
웅동1동    7236  142.0    1.0    0.0
웅동2동   39970   14.0    0.0    0.0

In [94]:
final.reset_index(drop = False, inplace = True)

In [95]:
final.to_excel('../data/Final.xlsx', index = False)